In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [24]:
#load the bangalore temperature data
df = pd.read_csv('Dataset/weather/Temperature_And_Precipitation_Cities_IN/Bangalore_1990_2022_BangaloreCity.csv')
df.head()

         time  tavg  tmin  tmax  prcp
0  01-01-1990  22.9  19.1  28.4   NaN
1  02-01-1990  21.7   NaN  26.5   0.0
2  03-01-1990  21.0  16.4  26.5   0.0
3  04-01-1990  20.8   NaN  27.4   0.0
4  05-01-1990  20.4  14.2  26.1   0.0

In [25]:
#drop the prcp and tmin and tmax columns
df.drop(['prcp','tmin','tmax'],axis=1,inplace=True)

In [26]:
df.head()

         time  tavg
0  01-01-1990  22.9
1  02-01-1990  21.7
2  03-01-1990  21.0
3  04-01-1990  20.8
4  05-01-1990  20.4

In [27]:
#merge the time rows based on the month and year
df['time'] = pd.to_datetime(df['time'])
df = df.groupby([df['time'].dt.month]).mean()

C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\3337828173.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['time'] = pd.to_datetime(df['time'])
C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\3337828173.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby([df['time'].dt.month]).mean()

In [28]:
df.head(50)

           tavg
time
1     22.582365
2     24.145081
3     25.701586
4     25.976704
5     25.215538
6     23.887538
7     23.418317
8     23.430272
9     23.691088
10    23.335830
11    22.674298
12    22.016097

In [30]:
#change the index to month
df.index = df.index.map({1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'})

In [33]:
#create a new column for the time 
df['time'] = df.index

In [35]:
#drop the index
df.reset_index(drop=True,inplace=True)

In [36]:
df.head(15)

         tavg time
0   22.582365  Jan
1   24.145081  Feb
2   25.701586  Mar
3   25.976704  Apr
4   25.215538  May
5   23.887538  Jun
6   23.418317  Jul
7   23.430272  Aug
8   23.691088  Sep
9   23.335830  Oct
10  22.674298  Nov
11  22.016097  Dec

In [37]:
#change the column names from tavg to ban_temp and time to ban_time
df.rename(columns={'tavg':'ban_temp','time':'ban_time'},inplace=True)

In [38]:
#save the data to a csv file
df.to_csv('Dataset/weather/Temperature_And_Precipitation_Cities_IN/BangaloreWeather.csv',index=False)

In [39]:
df = pd.read_csv('Dataset/weather/Temperature_And_Precipitation_Cities_IN/Chennai_1990_2022_Madras.csv')
df.drop(['prcp','tmin','tmax'],axis=1,inplace=True)
df['time'] = pd.to_datetime(df['time'])
df = df.groupby([df['time'].dt.month]).mean()
df.index = df.index.map({1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'})
df['time'] = df.index
df.reset_index(drop=True,inplace=True)
df.rename(columns={'tavg':'che_temp','time':'che_time'},inplace=True)
df.head(15)

C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\1152700342.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['time'] = pd.to_datetime(df['time'])
C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\1152700342.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby([df['time'].dt.month]).mean()

     che_temp che_time
0   26.382989      Jan
1   27.417711      Feb
2   28.620788      Mar
3   29.758782      Apr
4   30.616139      May
5   30.099084      Jun
6   29.472673      Jul
7   29.115964      Aug
8   28.905383      Sep
9   27.876784      Oct
10  27.125543      Nov
11  26.429789      Dec

In [40]:
df.to_csv('Clean_Dataset/weather/ChennaiWeather.csv',index=False)

In [42]:
df = pd.read_csv('Dataset/weather/Temperature_And_Precipitation_Cities_IN/Delhi_NCR_1990_2022_Safdarjung.csv')
df.drop(['prcp','tmin','tmax'],axis=1,inplace=True)
df['time'] = pd.to_datetime(df['time'])
df = df.groupby([df['time'].dt.month]).mean()
df.index = df.index.map({1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'})
df['time'] = df.index
df.reset_index(drop=True,inplace=True)
df.rename(columns={'tavg':'del_temp','time':'del_time'},inplace=True)
df.head(15)
df.to_csv('Clean_Dataset/weather/DelhiWeather.csv',index=False)

C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\1820894081.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['time'] = pd.to_datetime(df['time'])
C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\1820894081.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby([df['time'].dt.month]).mean()

In [43]:
df = pd.read_csv('Dataset/weather/Temperature_And_Precipitation_Cities_IN/Lucknow_1990_2022.csv')
df.drop(['prcp','tmin','tmax'],axis=1,inplace=True)
df['time'] = pd.to_datetime(df['time'])
df = df.groupby([df['time'].dt.month]).mean()
df.index = df.index.map({1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'})
df['time'] = df.index
df.reset_index(drop=True,inplace=True)
df.rename(columns={'tavg':'luck_temp','time':'luck_time'},inplace=True)
df.head(15)
df.to_csv('Clean_Dataset/weather/LucknowWeather.csv',index=False)

C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\1387676732.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['time'] = pd.to_datetime(df['time'])
C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\1387676732.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby([df['time'].dt.month]).mean()

In [45]:
df = pd.read_csv('Dataset/weather/Temperature_And_Precipitation_Cities_IN/Mumbai_1990_2022_Santacruz.csv')
df.drop(['prcp','tmin','tmax'],axis=1,inplace=True)
df['time'] = pd.to_datetime(df['time'])
df = df.groupby([df['time'].dt.month]).mean()
df.index = df.index.map({1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'})
df['time'] = df.index
df.reset_index(drop=True,inplace=True)
df.rename(columns={'tavg':'mum_temp','time':'mum_time'},inplace=True)
df.head(15)
df.to_csv('Clean_Dataset/weather/MumbaiWeather.csv',index=False)

C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\1748231099.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['time'] = pd.to_datetime(df['time'])
C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\1748231099.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby([df['time'].dt.month]).mean()

In [46]:
df = pd.read_csv('Dataset/weather/Temperature_And_Precipitation_Cities_IN/Rajasthan_1990_2022_Jodhpur.csv')
df.drop(['prcp','tmin','tmax'],axis=1,inplace=True)
df['time'] = pd.to_datetime(df['time'])
df = df.groupby([df['time'].dt.month]).mean()
df.index = df.index.map({1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'})
df['time'] = df.index
df.reset_index(drop=True,inplace=True)
df.rename(columns={'tavg':'jod_temp','time':'jod_time'},inplace=True)
df.head(15)
df.to_csv('Clean_Dataset/weather/JodhpurWeather.csv',index=False)

C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\2673860630.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['time'] = pd.to_datetime(df['time'])
C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\2673860630.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby([df['time'].dt.month]).mean()

In [47]:
df = pd.read_csv('Dataset/weather/Temperature_And_Precipitation_Cities_IN/weather_Bhubhneshwar_1990_2022.csv')
df.drop(['prcp','tmin','tmax','snow','wdir','wspd','wpgt','pres','tsun'],axis=1,inplace=True)
df['time'] = pd.to_datetime(df['time'])
df = df.groupby([df['time'].dt.month]).mean()
df.index = df.index.map({1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'})
df['time'] = df.index
df.reset_index(drop=True,inplace=True)
df.rename(columns={'tavg':'bhu_temp','time':'bhu_time'},inplace=True)
df.head(15)
df.to_csv('Clean_Dataset/weather/BhubaneswarWeather.csv',index=False)

C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\2030741930.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby([df['time'].dt.month]).mean()

In [49]:
df = pd.read_csv('Dataset/weather/Temperature_And_Precipitation_Cities_IN/weather_Rourkela_2021_2022.csv')
df.drop(['prcp','tmin','tmax','snow','wdir','wspd','wpgt','pres','tsun'],axis=1,inplace=True)
df['time'] = pd.to_datetime(df['time'])
df = df.groupby([df['time'].dt.month]).mean()
df.index = df.index.map({1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'})
df['time'] = df.index
df.reset_index(drop=True,inplace=True)
df.rename(columns={'tavg':'rour_temp','time':'rour_time'},inplace=True)
df.head(15)
df.to_csv('Clean_Dataset/weather/RourkelaWeather.csv',index=False)

C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\1945162887.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby([df['time'].dt.month]).mean()

In [69]:
df = pd.read_csv('Dataset/agri/agri.csv')

In [70]:
df.drop(['market','arrival_date','min_price','max_price','variety'],axis=1,inplace=True)
df.head()

                 state       district              commodity  modal_price
0  Andaman and Nicobar  South Andaman             Amaranthus         7000
1  Andaman and Nicobar  South Andaman         Banana - Green         5000
2  Andaman and Nicobar  South Andaman  Bhindi(Ladies Finger)         7000
3  Andaman and Nicobar  South Andaman           Bitter gourd         7000
4  Andaman and Nicobar  South Andaman           Black pepper       120000

In [71]:
df.rename(columns={'commodity':'crop'},inplace=True)

In [72]:
#cleaning the data
df['crop'] = df['crop'].str.lower()
df['crop'] = df['crop'].str.replace(' ','_')
df['crop'] = df['crop'].str.replace('(','')
df['crop'] = df['crop'].str.replace(')','')
df['crop'] = df['crop'].str.replace('/','_')
df['crop'] = df['crop'].str.replace('-','_')
df['crop'] = df['crop'].str.replace('__','_')

C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\2761295286.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['crop'] = df['crop'].str.replace('(','')
C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\2761295286.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['crop'] = df['crop'].str.replace(')','')

In [73]:
df['crop'] = df['crop'].str.replace('__','_')

In [74]:
#removing the rows with null values
df = df.dropna()
#replace the state and district name spaces with underscore
df['state'] = df['state'].str.replace(' ','_')
df['district'] = df['district'].str.replace(' ','_')

In [75]:
#saving the data
df.to_csv('Clean_dataset/agri/agri.csv',index=False)

In [81]:
#crop recommendation dataset
df = pd.read_csv('Dataset/crop/Crop_recommendation.csv')

In [82]:
df.head(5)

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [87]:
#decimals to 2 places
df['temperature'] = df['temperature'].round(2)
df['humidity'] = df['humidity'].round(2)
df['ph'] = df['ph'].round(2)
df['rainfall'] = df['rainfall'].round(2)

In [84]:
#average the values of the same crop
df = df.groupby(['label']).mean()

In [91]:
#index reset
df.reset_index(inplace=True)

In [ ]:
#drop the label column
df.drop(['label'],axis=1,inplace=True)

In [95]:
df.head(30)

         N       P       K  temperature  humidity    ph  rainfall    crop_name
0    20.80  134.22  199.89        22.63     92.33  5.93    112.65        apple
1   100.23   82.01   50.05        27.38     80.36  5.98    104.63       banana
2    40.02   67.47   19.24        29.97     65.12  7.13     67.88    blackgram
3    40.09   67.79   79.92        18.87     16.86  7.34     80.06     chickpea
4    21.98   16.93   30.59        27.41     94.84  5.98    175.69      coconut
5   101.20   28.74   29.94        25.54     58.87  6.79    158.07       coffee
6   117.77   46.24   19.56        23.99     79.84  6.91     80.40       cotton
7    23.18  132.53  200.11        23.85     81.88  6.03     69.61       grapes
8    78.40   46.86   39.99        24.96     79.64  6.73    174.79         jute
9    20.75   67.54   20.05        20.12     21.61  5.75    105.92  kidneybeans
10   18.77   68.36   19.41        24.51     64.81  6.93     45.68       lentil
11   77.76   48.44   19.79        22.39     65.09  6.25     84.77        maize
12   20.07   27.18   29.92        31.21     50.16  5.77     94.70        mango
13   21.44   48.01   20.23        28.19     53.16  6.83     51.20    mothbeans
14   20.99   47.28   19.87        28.53     85.50  6.72     48.40     mungbean
15  100.32   17.72   50.08        28.66     92.34  6.36     24.69    muskmelon
16   19.58   16.55   10.01        22.77     92.17  7.02    110.48       orange
17   49.88   59.05   50.04        33.72     92.40  6.74    142.63       papaya
18   20.73   67.73   20.29        27.74     48.06  5.79    149.46   pigeonpeas
19   18.87   18.75   40.21        21.84     90.13  6.43    107.53  pomegranate
20   79.89   47.58   39.87        23.69     82.27  6.43    236.18         rice
21   99.42   17.00   50.22        25.59     85.16  6.50     50.79   watermelon

In [89]:
df['crop_name']=df.index

In [96]:
df.to_csv('Clean_dataset/crop/Crop_recommendation.csv',index=False)

In [103]:
df1 = pd.read_csv('Clean_dataset/agri/agri.csv')
df2 = pd.read_csv('Clean_dataset/crop/Crop_recommendation.csv')
df1 = df1.merge(df2,on='crop',how='left')
df1.head(10)
df1.to_csv('Clean_dataset/1.csv',index=False)

In [119]:
df1 = pd.read_csv('Clean_dataset/1.csv')
list1 = df1[df1['temperature'].isnull()]['crop'].unique()

In [120]:
print(list1)

['amaranthus' 'banana_green' 'bhindiladies_finger' 'bitter_gourd'
 'black_pepper' 'bottle_gourd' 'brinjal' 'cabbage' 'carrot' 'cauliflower'
 'cluster_beans' 'colacasia' 'onion' 'potato' 'tomato'
 'bengal_gramgramwhole' 'jowarsorghum' 'paddydhancommon'
 'lentil_masurwhole' 'cucumbarkheera' 'field_pea' 'french_beans_frasbean'
 'green_chilli' 'knool_khol' 'pumpkin' 'raddish'
 'black_gram_urd_beanswhole' 'green_gram_moongwhole' 'maida_atta'
 'mustard' 'wheat_atta' 'garlic' 'masur_dal' 'ridgeguardtori'
 'arecanutbetelnut_supari' 'arhar_tur_red_gramwhole' 'dry_chillies'
 'groundnut' 'capsicum' 'guar' 'lemon' 'bajrapearl_millet_cumbu'
 'castor_seed' 'corianderleaves' 'cowpeaveg' 'drumstick'
 'elephant_yam_suran' 'gingergreen' 'indian_beans_seam' 'methileaves'
 'onion_green' 'peas_cod' 'pegeon_pea_arhar_fali' 'sponge_gourd'
 'surat_beans_papadi' 'sweet_potato' 'tinda' 'guar_seedcluster_beans_seed'
 'wheat' 'gram_rawchholia' 'little_gourd_kundru' 'round_gourd'
 'leafy_vegetable' 'mintpudina' 'papaya_raw' 'spinach'
 'pointed_gourd_parval' 'berzizyphus_borehannu' 'kinnow' 'peas_wet'
 'chikoossapota' 'mashrooms' 'mousambisweet_lime' 'pineapple' 'guava'
 'turnip' 'gingerdry' 'squashchappal_kadoo' 'beans' 'beetroot'
 'chilly_capsicum' 'green_avare_w' 'seemebadnekai' 'snakeguard'
 'suvarna_gadde' 'water_melon' 'copra' 'amphophalus' 'ashgourd'
 'coconut_oil' 'rubber' 'cashewnuts' 'pepper_garbled' 'coconut_seed'
 'long_melonkakri' 'tapioca' 'turmeric_raw' 'mango_raw_ripe'
 'amlanelli_kai' 'duster_beans' 'soyabean' 'linseed' 'niger_seed_ramtil'
 'green_gram_dal_moong_dal' 'lime' 'turmeric' 'karbujamusk_melon'
 'pearmarasebu' 'rajgir' 'sweet_pumpkin' 'tender_coconut'
 'bengal_gram_dal_chana_dal' 'betal_leaves' 'broken_rice' 'gurjaggery'
 'sugar' 'sesamumsesame,gingelly,til' 'moath_dal' 'corriander_seed'
 'ground_nut_seed' 'taramira' 'tobacco' 'tamarind_fruit'
 'cowpea_lobia_karamani' 'kulthihorse_gram' 'ragi_finger_millet'
 't.v._cumbu' 'gingelly_oil' 'kodo_milletvaragu' 'hybrid_cumbu' 'karamani'
 'thinai_italian_millet' 'wood' 'barley_jau' 'fish' 'green_peas'
 'arhar_daltur_dal' 'black_gram_dal_urd_dal' 'mustard_oil' 'ghee'
 'paddydhanbasmati' 'white_pumpkin' 'peasdry' 'plum']

In [121]:
df1 = df1[~df1['crop'].isin(list1)]
df1.to_csv('Clean_dataset/3.csv',index=False)

In [122]:
df1 = pd.read_csv('Clean_dataset/3.csv')
list2 = df1['district'].unique()
print(list2)

['South_Andaman' 'Cachar' 'Dhubri' 'Jorhat' 'Sonitpur' 'Panchmahals'
 'Vadodara(Baroda)' 'Ambala' 'Faridabad' 'Gurgaon' 'Mewat' 'Kangra'
 'Kullu' 'Bangalore' 'Alappuzha' 'Kannur' 'Kasargod' 'Kollam' 'Kottayam'
 'Malappuram' 'Thirssur' 'Thiruvananthapuram' 'Dhar' 'Jhabua' 'Sheopur'
 'Ahmednagar' 'Buldhana' 'Jalgaon' 'Kolhapur' 'Nagpur' 'Pune' 'Satara'
 'Sholapur' 'Bishnupur' 'Chandel' 'Imphal_East' 'Imphal_West' 'Thoubal'
 'East_Khasi_Hills' 'Gajapati' 'Ganjam' 'Mayurbhanja' 'Nowarangpur'
 'Sundergarh' 'Hoshiarpur' 'Mansa' 'Muktsar' 'Tarntaran' 'Jalore' 'Tonk'
 'Coimbatore' 'Dharmapuri' 'Dindigul' 'Erode' 'Krishnagiri' 'Madurai'
 'Namakkal' 'Salem' 'Sivaganga' 'Vellore' 'Villupuram' 'Karimnagar'
 'North_Tripura' 'Agra' 'Aligarh' 'Baghpat' 'Bahraich' 'Ballia'
 'Bhadohi(Sant_Ravi_Nagar)' 'Bulandshahar' 'Chitrakut' 'Farukhabad'
 'Ghaziabad' 'Kannuj' 'Kanpur' 'Lakhimpur' 'Mau(Maunathbhanjan)'
 'Mirzapur' 'Muradabad' 'Muzaffarnagar' 'Saharanpur' 'Sonbhadra'
 'Dehradoon' 'Bankura' 'Burdwan' 'Hooghly' 'Malda' 'Medinipur(W)'
 'Murshidabad' 'Nadia' 'Puruliya' 'Sounth_24_Parganas' 'Uttar_Dinajpur']

In [14]:
df = pd.read_csv('Dataset/crop_production.csv')

In [15]:
df.columns

Index(['State_Name', 'District_Name', 'Crop_Year', 'Season', 'Crop', 'Area',
       'Production'],
      dtype='object')

In [16]:
df.drop(['Crop_Year','Area','Production'],axis=1,inplace=True)

In [17]:
df.rename(columns={'State_Name':'state','District_Name':'district','Crop':'crop','Season':'season'},inplace=True)

In [18]:
df.columns

Index(['state', 'district', 'season', 'crop'], dtype='object')

In [19]:
#cleaning the data
df['crop'] = df['crop'].str.lower()
df['crop'] = df['crop'].str.replace(' ','_')
df['district'] = df['district'].str.lower()
df['district'] = df['district'].str.replace(' ','_')
df['state'] = df['state'].str.replace(' ','_')
df['season'] = df['season'].str.replace(' ','_')
df.head(10)

                         state  district      season                 crop
0  Andaman_and_Nicobar_Islands  nicobars      Kharif             arecanut
1  Andaman_and_Nicobar_Islands  nicobars      Kharif  other_kharif_pulses
2  Andaman_and_Nicobar_Islands  nicobars      Kharif                 rice
3  Andaman_and_Nicobar_Islands  nicobars  Whole_Year               banana
4  Andaman_and_Nicobar_Islands  nicobars  Whole_Year            cashewnut
5  Andaman_and_Nicobar_Islands  nicobars  Whole_Year              coconut
6  Andaman_and_Nicobar_Islands  nicobars  Whole_Year           dry_ginger
7  Andaman_and_Nicobar_Islands  nicobars  Whole_Year            sugarcane
8  Andaman_and_Nicobar_Islands  nicobars  Whole_Year         sweet_potato
9  Andaman_and_Nicobar_Islands  nicobars  Whole_Year              tapioca

In [20]:
#saving the data
df.to_csv('Clean_dataset/crop_production.csv',index=False)

In [7]:
#reading the crop production dataset
df5 = pd.read_csv('Clean_dataset/3.csv')
df5.head(10)

,state,district,crop,modal_price,N,P,K,temperature,humidity,ph,rainfall
0,Andaman_and_Nicobar,South_Andaman,coconut,5600,21.98,16.93,30.59,27.41,94.84,5.98,175.69
1,Assam,Cachar,rice,2400,79.89,47.58,39.87,23.69,82.27,6.43,236.18
2,Assam,Cachar,rice,2800,79.89,47.58,39.87,23.69,82.27,6.43,236.18
3,Assam,Dhubri,jute,2800,78.40,46.86,39.99,24.96,79.64,6.73,174.79
4,Assam,Dhubri,rice,4500,79.89,47.58,39.87,23.69,82.27,6.43,236.18
5,Assam,Dhubri,rice,2500,79.89,47.58,39.87,23.69,82.27,6.43,236.18
6,Assam,Jorhat,rice,3200,79.89,47.58,39.87,23.69,82.27,6.43,236.18
7,Assam,Sonitpur,jute,3900,78.40,46.86,39.99,24.96,79.64,6.73,174.79
8,Assam,Sonitpur,maize,1800,77.76,48.44,19.79,22.39,65.09,6.25,84.77
9,Assam,Sonitpur,rice,2400,79.89,47.58,39.87,23.69,82.27,6.43,236.18

In [12]:
#district lower case
df5['district'] = df5['district'].str.lower()

In [46]:
#merging the crop production dataset with the 3rd dataset on the basis of crop name to add the season column, ignoring the state and district
df6=pd.read_csv('Clean_dataset/crop_production.csv')
df7=pd.read_csv('Clean_dataset/3.csv')

df7 = df7.merge(df6,on='crop',how='left')

In [47]:
df8.head(10)

,state_x,district_x,crop,modal_price,N,P,K,temperature,humidity,ph,rainfall,state_y,district_y,season
0,Andaman_and_Nicobar,South_Andaman,coconut,5600,21.98,16.93,30.59,27.41,94.84,5.98,175.69,Andaman_and_Nicobar,nicobars,Whole_Year
1,Andaman_and_Nicobar,South_Andaman,coconut,5600,21.98,16.93,30.59,27.41,94.84,5.98,175.69,Andaman_and_Nicobar,nicobars,Whole_Year
2,Andaman_and_Nicobar,South_Andaman,coconut,5600,21.98,16.93,30.59,27.41,94.84,5.98,175.69,Andaman_and_Nicobar,nicobars,Whole_Year
3,Andaman_and_Nicobar,South_Andaman,coconut,5600,21.98,16.93,30.59,27.41,94.84,5.98,175.69,Andaman_and_Nicobar,nicobars,Whole_Year
4,Andaman_and_Nicobar,South_Andaman,coconut,5600,21.98,16.93,30.59,27.41,94.84,5.98,175.69,Andaman_and_Nicobar,nicobars,Whole_Year
5,Andaman_and_Nicobar,South_Andaman,coconut,5600,21.98,16.93,30.59,27.41,94.84,5.98,175.69,Andaman_and_Nicobar,nicobars,Whole_Year
6,Andaman_and_Nicobar,South_Andaman,coconut,5600,21.98,16.93,30.59,27.41,94.84,5.98,175.69,Andaman_and_Nicobar,nicobars,Whole_Year
7,Andaman_and_Nicobar,South_Andaman,coconut,5600,21.98,16.93,30.59,27.41,94.84,5.98,175.69,Andaman_and_Nicobar,nicobars,Whole_Year
8,Andaman_and_Nicobar,South_Andaman,coconut,5600,21.98,16.93,30.59,27.41,94.84,5.98,175.69,Andaman_and_Nicobar,north_and_middle_andaman,Whole_Year
9,Andaman_and_Nicobar,South_Andaman,coconut,5600,21.98,16.93,30.59,27.41,94.84,5.98,175.69,Andaman_and_Nicobar,north_and_middle_andaman,Whole_Year

In [43]:
df7.head(10)

,state_x,district_x,crop,modal_price,N,P,K,temperature,humidity,ph,rainfall,state_y,district_y,season
0,Andaman_and_Nicobar,South_Andaman,coconut,5600,21.98,16.93,30.59,27.41,94.84,5.98,175.69,Andaman_and_Nicobar,nicobars,Whole_Year
8,Andaman_and_Nicobar,South_Andaman,coconut,5600,21.98,16.93,30.59,27.41,94.84,5.98,175.69,Andaman_and_Nicobar,north_and_middle_andaman,Whole_Year
12,Andaman_and_Nicobar,South_Andaman,coconut,5600,21.98,16.93,30.59,27.41,94.84,5.98,175.69,Andaman_and_Nicobar,south_andamans,Whole_Year
18,Andaman_and_Nicobar,South_Andaman,coconut,5600,21.98,16.93,30.59,27.41,94.84,5.98,175.69,Andhra_Pradesh,anantapur,Whole_Year
31,Andaman_and_Nicobar,South_Andaman,coconut,5600,21.98,16.93,30.59,27.41,94.84,5.98,175.69,Andhra_Pradesh,chittoor,Whole_Year
44,Andaman_and_Nicobar,South_Andaman,coconut,5600,21.98,16.93,30.59,27.41,94.84,5.98,175.69,Andhra_Pradesh,east_godavari,Whole_Year
57,Andaman_and_Nicobar,South_Andaman,coconut,5600,21.98,16.93,30.59,27.41,94.84,5.98,175.69,Andhra_Pradesh,guntur,Whole_Year
70,Andaman_and_Nicobar,South_Andaman,coconut,5600,21.98,16.93,30.59,27.41,94.84,5.98,175.69,Andhra_Pradesh,kadapa,Whole_Year
83,Andaman_and_Nicobar,South_Andaman,coconut,5600,21.98,16.93,30.59,27.41,94.84,5.98,175.69,Andhra_Pradesh,krishna,Whole_Year
96,Andaman_and_Nicobar,South_Andaman,coconut,5600,21.98,16.93,30.59,27.41,94.84,5.98,175.69,Andhra_Pradesh,kurnool,Whole_Year

In [38]:
df7['district'] = df7['district'].str.lower()

KeyError: 'district'

In [39]:
#removing the rows which are repeated
df7.drop_duplicates(subset=['crop','district'],inplace=True)

KeyError: Index(['district'], dtype='object')

In [33]:
df7.to_csv('Clean_dataset/4.csv',index=False)