In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [24]:
#load the bangalore temperature data
df = pd.read_csv('Dataset/weather/Temperature_And_Precipitation_Cities_IN/Bangalore_1990_2022_BangaloreCity.csv')
df.head()

         time  tavg  tmin  tmax  prcp
0  01-01-1990  22.9  19.1  28.4   NaN
1  02-01-1990  21.7   NaN  26.5   0.0
2  03-01-1990  21.0  16.4  26.5   0.0
3  04-01-1990  20.8   NaN  27.4   0.0
4  05-01-1990  20.4  14.2  26.1   0.0

In [25]:
#drop the prcp and tmin and tmax columns
df.drop(['prcp','tmin','tmax'],axis=1,inplace=True)

In [26]:
df.head()

         time  tavg
0  01-01-1990  22.9
1  02-01-1990  21.7
2  03-01-1990  21.0
3  04-01-1990  20.8
4  05-01-1990  20.4

In [27]:
#merge the time rows based on the month and year
df['time'] = pd.to_datetime(df['time'])
df = df.groupby([df['time'].dt.month]).mean()

C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\3337828173.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['time'] = pd.to_datetime(df['time'])
C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\3337828173.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby([df['time'].dt.month]).mean()

In [28]:
df.head(50)

           tavg
time
1     22.582365
2     24.145081
3     25.701586
4     25.976704
5     25.215538
6     23.887538
7     23.418317
8     23.430272
9     23.691088
10    23.335830
11    22.674298
12    22.016097

In [30]:
#change the index to month
df.index = df.index.map({1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'})

In [33]:
#create a new column for the time 
df['time'] = df.index

In [35]:
#drop the index
df.reset_index(drop=True,inplace=True)

In [36]:
df.head(15)

         tavg time
0   22.582365  Jan
1   24.145081  Feb
2   25.701586  Mar
3   25.976704  Apr
4   25.215538  May
5   23.887538  Jun
6   23.418317  Jul
7   23.430272  Aug
8   23.691088  Sep
9   23.335830  Oct
10  22.674298  Nov
11  22.016097  Dec

In [37]:
#change the column names from tavg to ban_temp and time to ban_time
df.rename(columns={'tavg':'ban_temp','time':'ban_time'},inplace=True)

In [38]:
#save the data to a csv file
df.to_csv('Dataset/weather/Temperature_And_Precipitation_Cities_IN/BangaloreWeather.csv',index=False)

In [39]:
df = pd.read_csv('Dataset/weather/Temperature_And_Precipitation_Cities_IN/Chennai_1990_2022_Madras.csv')
df.drop(['prcp','tmin','tmax'],axis=1,inplace=True)
df['time'] = pd.to_datetime(df['time'])
df = df.groupby([df['time'].dt.month]).mean()
df.index = df.index.map({1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'})
df['time'] = df.index
df.reset_index(drop=True,inplace=True)
df.rename(columns={'tavg':'che_temp','time':'che_time'},inplace=True)
df.head(15)

C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\1152700342.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['time'] = pd.to_datetime(df['time'])
C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\1152700342.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby([df['time'].dt.month]).mean()

     che_temp che_time
0   26.382989      Jan
1   27.417711      Feb
2   28.620788      Mar
3   29.758782      Apr
4   30.616139      May
5   30.099084      Jun
6   29.472673      Jul
7   29.115964      Aug
8   28.905383      Sep
9   27.876784      Oct
10  27.125543      Nov
11  26.429789      Dec

In [40]:
df.to_csv('Clean_Dataset/weather/ChennaiWeather.csv',index=False)

In [42]:
df = pd.read_csv('Dataset/weather/Temperature_And_Precipitation_Cities_IN/Delhi_NCR_1990_2022_Safdarjung.csv')
df.drop(['prcp','tmin','tmax'],axis=1,inplace=True)
df['time'] = pd.to_datetime(df['time'])
df = df.groupby([df['time'].dt.month]).mean()
df.index = df.index.map({1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'})
df['time'] = df.index
df.reset_index(drop=True,inplace=True)
df.rename(columns={'tavg':'del_temp','time':'del_time'},inplace=True)
df.head(15)
df.to_csv('Clean_Dataset/weather/DelhiWeather.csv',index=False)

C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\1820894081.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['time'] = pd.to_datetime(df['time'])
C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\1820894081.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby([df['time'].dt.month]).mean()

In [43]:
df = pd.read_csv('Dataset/weather/Temperature_And_Precipitation_Cities_IN/Lucknow_1990_2022.csv')
df.drop(['prcp','tmin','tmax'],axis=1,inplace=True)
df['time'] = pd.to_datetime(df['time'])
df = df.groupby([df['time'].dt.month]).mean()
df.index = df.index.map({1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'})
df['time'] = df.index
df.reset_index(drop=True,inplace=True)
df.rename(columns={'tavg':'luck_temp','time':'luck_time'},inplace=True)
df.head(15)
df.to_csv('Clean_Dataset/weather/LucknowWeather.csv',index=False)

C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\1387676732.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['time'] = pd.to_datetime(df['time'])
C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\1387676732.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby([df['time'].dt.month]).mean()

In [45]:
df = pd.read_csv('Dataset/weather/Temperature_And_Precipitation_Cities_IN/Mumbai_1990_2022_Santacruz.csv')
df.drop(['prcp','tmin','tmax'],axis=1,inplace=True)
df['time'] = pd.to_datetime(df['time'])
df = df.groupby([df['time'].dt.month]).mean()
df.index = df.index.map({1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'})
df['time'] = df.index
df.reset_index(drop=True,inplace=True)
df.rename(columns={'tavg':'mum_temp','time':'mum_time'},inplace=True)
df.head(15)
df.to_csv('Clean_Dataset/weather/MumbaiWeather.csv',index=False)

C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\1748231099.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['time'] = pd.to_datetime(df['time'])
C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\1748231099.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby([df['time'].dt.month]).mean()

In [46]:
df = pd.read_csv('Dataset/weather/Temperature_And_Precipitation_Cities_IN/Rajasthan_1990_2022_Jodhpur.csv')
df.drop(['prcp','tmin','tmax'],axis=1,inplace=True)
df['time'] = pd.to_datetime(df['time'])
df = df.groupby([df['time'].dt.month]).mean()
df.index = df.index.map({1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'})
df['time'] = df.index
df.reset_index(drop=True,inplace=True)
df.rename(columns={'tavg':'jod_temp','time':'jod_time'},inplace=True)
df.head(15)
df.to_csv('Clean_Dataset/weather/JodhpurWeather.csv',index=False)

C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\2673860630.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['time'] = pd.to_datetime(df['time'])
C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\2673860630.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby([df['time'].dt.month]).mean()

In [47]:
df = pd.read_csv('Dataset/weather/Temperature_And_Precipitation_Cities_IN/weather_Bhubhneshwar_1990_2022.csv')
df.drop(['prcp','tmin','tmax','snow','wdir','wspd','wpgt','pres','tsun'],axis=1,inplace=True)
df['time'] = pd.to_datetime(df['time'])
df = df.groupby([df['time'].dt.month]).mean()
df.index = df.index.map({1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'})
df['time'] = df.index
df.reset_index(drop=True,inplace=True)
df.rename(columns={'tavg':'bhu_temp','time':'bhu_time'},inplace=True)
df.head(15)
df.to_csv('Clean_Dataset/weather/BhubaneswarWeather.csv',index=False)

C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\2030741930.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby([df['time'].dt.month]).mean()

In [49]:
df = pd.read_csv('Dataset/weather/Temperature_And_Precipitation_Cities_IN/weather_Rourkela_2021_2022.csv')
df.drop(['prcp','tmin','tmax','snow','wdir','wspd','wpgt','pres','tsun'],axis=1,inplace=True)
df['time'] = pd.to_datetime(df['time'])
df = df.groupby([df['time'].dt.month]).mean()
df.index = df.index.map({1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'})
df['time'] = df.index
df.reset_index(drop=True,inplace=True)
df.rename(columns={'tavg':'rour_temp','time':'rour_time'},inplace=True)
df.head(15)
df.to_csv('Clean_Dataset/weather/RourkelaWeather.csv',index=False)

C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\1945162887.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby([df['time'].dt.month]).mean()

In [69]:
df = pd.read_csv('Dataset/agri/agri.csv')

In [70]:
df.drop(['market','arrival_date','min_price','max_price','variety'],axis=1,inplace=True)
df.head()

                 state       district              commodity  modal_price
0  Andaman and Nicobar  South Andaman             Amaranthus         7000
1  Andaman and Nicobar  South Andaman         Banana - Green         5000
2  Andaman and Nicobar  South Andaman  Bhindi(Ladies Finger)         7000
3  Andaman and Nicobar  South Andaman           Bitter gourd         7000
4  Andaman and Nicobar  South Andaman           Black pepper       120000

In [71]:
df.rename(columns={'commodity':'crop'},inplace=True)

In [72]:
#cleaning the data
df['crop'] = df['crop'].str.lower()
df['crop'] = df['crop'].str.replace(' ','_')
df['crop'] = df['crop'].str.replace('(','')
df['crop'] = df['crop'].str.replace(')','')
df['crop'] = df['crop'].str.replace('/','_')
df['crop'] = df['crop'].str.replace('-','_')
df['crop'] = df['crop'].str.replace('__','_')

C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\2761295286.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['crop'] = df['crop'].str.replace('(','')
C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\2761295286.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['crop'] = df['crop'].str.replace(')','')

In [73]:
df['crop'] = df['crop'].str.replace('__','_')

In [74]:
#removing the rows with null values
df = df.dropna()
#replace the state and district name spaces with underscore
df['state'] = df['state'].str.replace(' ','_')
df['district'] = df['district'].str.replace(' ','_')

In [75]:
#saving the data
df.to_csv('Clean_dataset/agri/agri.csv',index=False)

In [81]:
#crop recommendation dataset
df = pd.read_csv('Dataset/crop/Crop_recommendation.csv')

In [82]:
df.head(5)

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [87]:
#decimals to 2 places
df['temperature'] = df['temperature'].round(2)
df['humidity'] = df['humidity'].round(2)
df['ph'] = df['ph'].round(2)
df['rainfall'] = df['rainfall'].round(2)

In [84]:
#average the values of the same crop
df = df.groupby(['label']).mean()

In [91]:
#index reset
df.reset_index(inplace=True)

In [ ]:
#drop the label column
df.drop(['label'],axis=1,inplace=True)

In [95]:
df.head(30)

         N       P       K  temperature  humidity    ph  rainfall    crop_name
0    20.80  134.22  199.89        22.63     92.33  5.93    112.65        apple
1   100.23   82.01   50.05        27.38     80.36  5.98    104.63       banana
2    40.02   67.47   19.24        29.97     65.12  7.13     67.88    blackgram
3    40.09   67.79   79.92        18.87     16.86  7.34     80.06     chickpea
4    21.98   16.93   30.59        27.41     94.84  5.98    175.69      coconut
5   101.20   28.74   29.94        25.54     58.87  6.79    158.07       coffee
6   117.77   46.24   19.56        23.99     79.84  6.91     80.40       cotton
7    23.18  132.53  200.11        23.85     81.88  6.03     69.61       grapes
8    78.40   46.86   39.99        24.96     79.64  6.73    174.79         jute
9    20.75   67.54   20.05        20.12     21.61  5.75    105.92  kidneybeans
10   18.77   68.36   19.41        24.51     64.81  6.93     45.68       lentil
11   77.76   48.44   19.79        22.39     65.09  6.25     84.77        maize
12   20.07   27.18   29.92        31.21     50.16  5.77     94.70        mango
13   21.44   48.01   20.23        28.19     53.16  6.83     51.20    mothbeans
14   20.99   47.28   19.87        28.53     85.50  6.72     48.40     mungbean
15  100.32   17.72   50.08        28.66     92.34  6.36     24.69    muskmelon
16   19.58   16.55   10.01        22.77     92.17  7.02    110.48       orange
17   49.88   59.05   50.04        33.72     92.40  6.74    142.63       papaya
18   20.73   67.73   20.29        27.74     48.06  5.79    149.46   pigeonpeas
19   18.87   18.75   40.21        21.84     90.13  6.43    107.53  pomegranate
20   79.89   47.58   39.87        23.69     82.27  6.43    236.18         rice
21   99.42   17.00   50.22        25.59     85.16  6.50     50.79   watermelon

In [89]:
df['crop_name']=df.index

In [96]:
df.to_csv('Clean_dataset/crop/Crop_recommendation.csv',index=False)

In [103]:
df1 = pd.read_csv('Clean_dataset/agri/agri.csv')
df2 = pd.read_csv('Clean_dataset/crop/Crop_recommendation.csv')
df1 = df1.merge(df2,on='crop',how='left')
df1.head(10)
df1.to_csv('Clean_dataset/1.csv',index=False)

In [119]:
df1 = pd.read_csv('Clean_dataset/1.csv')
list1 = df1[df1['temperature'].isnull()]['crop'].unique()

In [120]:
print(list1)

['amaranthus' 'banana_green' 'bhindiladies_finger' 'bitter_gourd'
 'black_pepper' 'bottle_gourd' 'brinjal' 'cabbage' 'carrot' 'cauliflower'
 'cluster_beans' 'colacasia' 'onion' 'potato' 'tomato'
 'bengal_gramgramwhole' 'jowarsorghum' 'paddydhancommon'
 'lentil_masurwhole' 'cucumbarkheera' 'field_pea' 'french_beans_frasbean'
 'green_chilli' 'knool_khol' 'pumpkin' 'raddish'
 'black_gram_urd_beanswhole' 'green_gram_moongwhole' 'maida_atta'
 'mustard' 'wheat_atta' 'garlic' 'masur_dal' 'ridgeguardtori'
 'arecanutbetelnut_supari' 'arhar_tur_red_gramwhole' 'dry_chillies'
 'groundnut' 'capsicum' 'guar' 'lemon' 'bajrapearl_millet_cumbu'
 'castor_seed' 'corianderleaves' 'cowpeaveg' 'drumstick'
 'elephant_yam_suran' 'gingergreen' 'indian_beans_seam' 'methileaves'
 'onion_green' 'peas_cod' 'pegeon_pea_arhar_fali' 'sponge_gourd'
 'surat_beans_papadi' 'sweet_potato' 'tinda' 'guar_seedcluster_beans_seed'
 'wheat' 'gram_rawchholia' 'little_gourd_kundru' 'round_gourd'
 'leafy_vegetable' 'mintpudina' 'papaya_raw' 'spinach'
 'pointed_gourd_parval' 'berzizyphus_borehannu' 'kinnow' 'peas_wet'
 'chikoossapota' 'mashrooms' 'mousambisweet_lime' 'pineapple' 'guava'
 'turnip' 'gingerdry' 'squashchappal_kadoo' 'beans' 'beetroot'
 'chilly_capsicum' 'green_avare_w' 'seemebadnekai' 'snakeguard'
 'suvarna_gadde' 'water_melon' 'copra' 'amphophalus' 'ashgourd'
 'coconut_oil' 'rubber' 'cashewnuts' 'pepper_garbled' 'coconut_seed'
 'long_melonkakri' 'tapioca' 'turmeric_raw' 'mango_raw_ripe'
 'amlanelli_kai' 'duster_beans' 'soyabean' 'linseed' 'niger_seed_ramtil'
 'green_gram_dal_moong_dal' 'lime' 'turmeric' 'karbujamusk_melon'
 'pearmarasebu' 'rajgir' 'sweet_pumpkin' 'tender_coconut'
 'bengal_gram_dal_chana_dal' 'betal_leaves' 'broken_rice' 'gurjaggery'
 'sugar' 'sesamumsesame,gingelly,til' 'moath_dal' 'corriander_seed'
 'ground_nut_seed' 'taramira' 'tobacco' 'tamarind_fruit'
 'cowpea_lobia_karamani' 'kulthihorse_gram' 'ragi_finger_millet'
 't.v._cumbu' 'gingelly_oil' 'kodo_milletvaragu' 'hybrid_cumbu' 'karamani'
 'thinai_italian_millet' 'wood' 'barley_jau' 'fish' 'green_peas'
 'arhar_daltur_dal' 'black_gram_dal_urd_dal' 'mustard_oil' 'ghee'
 'paddydhanbasmati' 'white_pumpkin' 'peasdry' 'plum']

In [121]:
df1 = df1[~df1['crop'].isin(list1)]
df1.to_csv('Clean_dataset/3.csv',index=False)

In [122]:
df1 = pd.read_csv('Clean_dataset/3.csv')
list2 = df1['district'].unique()
print(list2)

['South_Andaman' 'Cachar' 'Dhubri' 'Jorhat' 'Sonitpur' 'Panchmahals'
 'Vadodara(Baroda)' 'Ambala' 'Faridabad' 'Gurgaon' 'Mewat' 'Kangra'
 'Kullu' 'Bangalore' 'Alappuzha' 'Kannur' 'Kasargod' 'Kollam' 'Kottayam'
 'Malappuram' 'Thirssur' 'Thiruvananthapuram' 'Dhar' 'Jhabua' 'Sheopur'
 'Ahmednagar' 'Buldhana' 'Jalgaon' 'Kolhapur' 'Nagpur' 'Pune' 'Satara'
 'Sholapur' 'Bishnupur' 'Chandel' 'Imphal_East' 'Imphal_West' 'Thoubal'
 'East_Khasi_Hills' 'Gajapati' 'Ganjam' 'Mayurbhanja' 'Nowarangpur'
 'Sundergarh' 'Hoshiarpur' 'Mansa' 'Muktsar' 'Tarntaran' 'Jalore' 'Tonk'
 'Coimbatore' 'Dharmapuri' 'Dindigul' 'Erode' 'Krishnagiri' 'Madurai'
 'Namakkal' 'Salem' 'Sivaganga' 'Vellore' 'Villupuram' 'Karimnagar'
 'North_Tripura' 'Agra' 'Aligarh' 'Baghpat' 'Bahraich' 'Ballia'
 'Bhadohi(Sant_Ravi_Nagar)' 'Bulandshahar' 'Chitrakut' 'Farukhabad'
 'Ghaziabad' 'Kannuj' 'Kanpur' 'Lakhimpur' 'Mau(Maunathbhanjan)'
 'Mirzapur' 'Muradabad' 'Muzaffarnagar' 'Saharanpur' 'Sonbhadra'
 'Dehradoon' 'Bankura' 'Burdwan' 'Hooghly' 'Malda' 'Medinipur(W)'
 'Murshidabad' 'Nadia' 'Puruliya' 'Sounth_24_Parganas' 'Uttar_Dinajpur']

In [14]:
df = pd.read_csv('Dataset/crop_production.csv')

In [15]:
df.columns

Index(['State_Name', 'District_Name', 'Crop_Year', 'Season', 'Crop', 'Area',
       'Production'],
      dtype='object')

In [16]:
df.drop(['Crop_Year','Area','Production'],axis=1,inplace=True)

In [17]:
df.rename(columns={'State_Name':'state','District_Name':'district','Crop':'crop','Season':'season'},inplace=True)

In [18]:
df.columns

Index(['state', 'district', 'season', 'crop'], dtype='object')

In [19]:
#cleaning the data
df['crop'] = df['crop'].str.lower()
df['crop'] = df['crop'].str.replace(' ','_')
df['district'] = df['district'].str.lower()
df['district'] = df['district'].str.replace(' ','_')
df['state'] = df['state'].str.replace(' ','_')
df['season'] = df['season'].str.replace(' ','_')
df.head(10)

                         state  district      season                 crop
0  Andaman_and_Nicobar_Islands  nicobars      Kharif             arecanut
1  Andaman_and_Nicobar_Islands  nicobars      Kharif  other_kharif_pulses
2  Andaman_and_Nicobar_Islands  nicobars      Kharif                 rice
3  Andaman_and_Nicobar_Islands  nicobars  Whole_Year               banana
4  Andaman_and_Nicobar_Islands  nicobars  Whole_Year            cashewnut
5  Andaman_and_Nicobar_Islands  nicobars  Whole_Year              coconut
6  Andaman_and_Nicobar_Islands  nicobars  Whole_Year           dry_ginger
7  Andaman_and_Nicobar_Islands  nicobars  Whole_Year            sugarcane
8  Andaman_and_Nicobar_Islands  nicobars  Whole_Year         sweet_potato
9  Andaman_and_Nicobar_Islands  nicobars  Whole_Year              tapioca

In [20]:
#saving the data
df.to_csv('Clean_dataset/crop_production.csv',index=False)

In [7]:
#reading the crop production dataset
df5 = pd.read_csv('Clean_dataset/3.csv')
df5.head(10)

,state,district,crop,modal_price,N,P,K,temperature,humidity,ph,rainfall
0,Andaman_and_Nicobar,South_Andaman,coconut,5600,21.98,16.93,30.59,27.41,94.84,5.98,175.69
1,Assam,Cachar,rice,2400,79.89,47.58,39.87,23.69,82.27,6.43,236.18
2,Assam,Cachar,rice,2800,79.89,47.58,39.87,23.69,82.27,6.43,236.18
3,Assam,Dhubri,jute,2800,78.40,46.86,39.99,24.96,79.64,6.73,174.79
4,Assam,Dhubri,rice,4500,79.89,47.58,39.87,23.69,82.27,6.43,236.18
5,Assam,Dhubri,rice,2500,79.89,47.58,39.87,23.69,82.27,6.43,236.18
6,Assam,Jorhat,rice,3200,79.89,47.58,39.87,23.69,82.27,6.43,236.18
7,Assam,Sonitpur,jute,3900,78.40,46.86,39.99,24.96,79.64,6.73,174.79
8,Assam,Sonitpur,maize,1800,77.76,48.44,19.79,22.39,65.09,6.25,84.77
9,Assam,Sonitpur,rice,2400,79.89,47.58,39.87,23.69,82.27,6.43,236.18

In [12]:
#district lower case
df5['district'] = df5['district'].str.lower()

In [55]:
#read the monthly data
df9 = pd.read_csv('Dataset/monthly.csv')
df9.head(10)

        month  avg_temp           city  min_temp  max_temp
0  2022-01-01        28  South_Andaman        28        28
1  2022-02-01        28  South_Andaman        27        28
2  2022-03-01        28  South_Andaman        27        29
3  2022-04-01        29  South_Andaman        28        30
4  2022-05-01        29  South_Andaman        28        31
5  2022-06-01        26  South_Andaman        25        27
6  2022-07-01        28  South_Andaman        28        29
7  2022-08-01        28  South_Andaman        27        28
8  2022-09-01        28  South_Andaman        27        28
9  2022-10-01        27  South_Andaman        27        28

In [56]:
#change the month column from date to month
df9['month'] = pd.to_datetime(df9['month'])
df9['month'] = df9['month'].dt.month_name()
df9.head(10)

       month  avg_temp           city  min_temp  max_temp
0    January        28  South_Andaman        28        28
1   February        28  South_Andaman        27        28
2      March        28  South_Andaman        27        29
3      April        29  South_Andaman        28        30
4        May        29  South_Andaman        28        31
5       June        26  South_Andaman        25        27
6       July        28  South_Andaman        28        29
7     August        28  South_Andaman        27        28
8  September        28  South_Andaman        27        28
9    October        27  South_Andaman        27        28

In [57]:
#month to number
df9['month'] = df9['month'].map({'January':1,'February':2,'March':3,'April':4,'May':5,'June':6,'July':7,'August':8,'September':9,'October':10,'November':11,'December':12})

In [58]:
#drop average temperature
df9.drop(['avg_temp'],axis=1,inplace=True)

In [59]:
df9.head(50)

    month            city  min_temp  max_temp
0       1   South_Andaman        28        28
1       2   South_Andaman        27        28
2       3   South_Andaman        27        29
3       4   South_Andaman        28        30
4       5   South_Andaman        28        31
5       6   South_Andaman        25        27
6       7   South_Andaman        28        29
7       8   South_Andaman        27        28
8       9   South_Andaman        27        28
9      10   South_Andaman        27        28
10     11   South_Andaman        27        28
11     12   South_Andaman        27        29
12      1          Cachar        20        30
13      2          Cachar        23        30
14      3          Cachar        21        31
15      4          Cachar        21        30
16      5          Cachar        22        32
17      6          Cachar        25        30
18      7          Cachar        25        30
19      8          Cachar        25        34
20      9          Cachar        24        33
21     10          Cachar        24        29
22     11          Cachar        22        31
23     12          Cachar        23        33
24      1          Dhubri        14        25
25      2          Dhubri        13        23
26      3          Dhubri        18        32
27      4          Dhubri        24        33
28      5          Dhubri        22        31
29      6          Dhubri        25        34
30      7          Dhubri        25        32
31      8          Dhubri        25        26
32      9          Dhubri        25        28
33     10          Dhubri        26        36
34     11          Dhubri        19        31
35     12          Dhubri        18        29
36      1          Jorhat        13        24
37      2          Jorhat        14        20
38      3          Jorhat        17        30
39      4          Jorhat        24        32
40      5          Jorhat        22        30
41      6          Jorhat        25        33
42      7          Jorhat        24        31
43      8          Jorhat        25        30
44      9          Jorhat        25        28
45     10          Jorhat        25        35
46     11          Jorhat        17        29
47     12          Jorhat        18        28
48      1  Sonitpur,Assam        12        24
49      2  Sonitpur,Assam        14        21

In [61]:
#reshape the data to get the monthly min and max temp for each city
df9 = df9.pivot_table(index=['city'],columns='month',values=['min_temp','max_temp'])
df9.head(10)

                    max_temp                                      ...  \
month                     1   2   3   4   5   6   7   8   9   10  ...
city                                                              ...
Agra                      23  25  31  46  47  49  32  37  39  37  ...
Ahmednagar                30  35  38  44  46  45  33  31  34  36  ...
Alappuzha                 32  32  32  31  31  27  29  27  28  29  ...
Aligarh                   21  25  30  45  48  49  34  36  39  38  ...
Ambala                    22  23  30  42  47  47  36  33  38  36  ...
Baghpat                   22  24  28  45  49  48  38  35  38  37  ...
Bahraich                  24  25  31  44  46  49  36  36  30  36  ...
Ballia                    25  23  31  44  46  49  37  30  33  35  ...
Bangalore                 24  34  34  38  39  30  29  28  30  21  ...
Bankura,west_bengal       26  30  36  41  46  47  35  29  35  33  ...

                    min_temp
month                     3   4   5   6   7   8   9   10  11  12
city
Agra                      14  26  33  35  27  30  32  27  21  16
Ahmednagar                20  23  26  26  27  26  26  23  21  17
Alappuzha                 24  27  27  26  26  25  25  25  25  25
Aligarh                   13  24  32  33  26  29  30  25  20  15
Ambala                    11  22  30  31  27  25  26  23  18  13
Baghpat                   11  22  32  32  26  26  28  24  20  14
Bahraich                  13  25  28  32  27  26  25  24  19  15
Ballia                    14  25  29  34  28  27  27  26  20  15
Bangalore                 17  24  23  21  20  22  22  19  18  16
Bankura,west_bengal       21  25  26  30  27  26  27  26  20  17

[10 rows x 24 columns]

In [62]:
#remove comma and anything after it from the city name
df9.index = df9.index.str.split(',').str[0]
df9.head(10)

           max_temp                                      ... min_temp          \
month            1   2   3   4   5   6   7   8   9   10  ...       3   4   5
city                                                     ...
Agra             23  25  31  46  47  49  32  37  39  37  ...       14  26  33
Ahmednagar       30  35  38  44  46  45  33  31  34  36  ...       20  23  26
Alappuzha        32  32  32  31  31  27  29  27  28  29  ...       24  27  27
Aligarh          21  25  30  45  48  49  34  36  39  38  ...       13  24  32
Ambala           22  23  30  42  47  47  36  33  38  36  ...       11  22  30
Baghpat          22  24  28  45  49  48  38  35  38  37  ...       11  22  32
Bahraich         24  25  31  44  46  49  36  36  30  36  ...       13  25  28
Ballia           25  23  31  44  46  49  37  30  33  35  ...       14  25  29
Bangalore        24  34  34  38  39  30  29  28  30  21  ...       17  24  23
Bankura          26  30  36  41  46  47  35  29  35  33  ...       21  25  26


month       6   7   8   9   10  11  12
city
Agra        35  27  30  32  27  21  16
Ahmednagar  26  27  26  26  23  21  17
Alappuzha   26  26  25  25  25  25  25
Aligarh     33  26  29  30  25  20  15
Ambala      31  27  25  26  23  18  13
Baghpat     32  26  26  28  24  20  14
Bahraich    32  27  26  25  24  19  15
Ballia      34  28  27  27  26  20  15
Bangalore   21  20  22  22  19  18  16
Bankura     30  27  26  27  26  20  17

[10 rows x 24 columns]

In [63]:
#lower case the city name
df9.index = df9.index.str.lower()

In [65]:
#rename the columns to max_temp_1 to max_temp_12 and min_temp_1 to min_temp_12
df9.columns = ['max_temp_1','max_temp_2','max_temp_3','max_temp_4','max_temp_5','max_temp_6','max_temp_7','max_temp_8','max_temp_9','max_temp_10','max_temp_11','max_temp_12','min_temp_1','min_temp_2','min_temp_3','min_temp_4','min_temp_5','min_temp_6','min_temp_7','min_temp_8','min_temp_9','min_temp_10','min_temp_11','min_temp_12']
df9.head(10)

,max_temp_1,max_temp_2,max_temp_3,max_temp_4,max_temp_5,max_temp_6,max_temp_7,max_temp_8,max_temp_9,max_temp_10,...,min_temp_3,min_temp_4,min_temp_5,min_temp_6,min_temp_7,min_temp_8,min_temp_9,min_temp_10,min_temp_11,min_temp_12
city,,,,,,,,,,,,,,,,,,,,,
agra,23,25,31,46,47,49,32,37,39,37,...,14,26,33,35,27,30,32,27,21,16
ahmednagar,30,35,38,44,46,45,33,31,34,36,...,20,23,26,26,27,26,26,23,21,17
alappuzha,32,32,32,31,31,27,29,27,28,29,...,24,27,27,26,26,25,25,25,25,25
aligarh,21,25,30,45,48,49,34,36,39,38,...,13,24,32,33,26,29,30,25,20,15
ambala,22,23,30,42,47,47,36,33,38,36,...,11,22,30,31,27,25,26,23,18,13
baghpat,22,24,28,45,49,48,38,35,38,37,...,11,22,32,32,26,26,28,24,20,14
bahraich,24,25,31,44,46,49,36,36,30,36,...,13,25,28,32,27,26,25,24,19,15
ballia,25,23,31,44,46,49,37,30,33,35,...,14,25,29,34,28,27,27,26,20,15
bangalore,24,34,34,38,39,30,29,28,30,21,...,17,24,23,21,20,22,22,19,18,16
bankura,26,30,36,41,46,47,35,29,35,33,...,21,25,26,30,27,26,27,26,20,17

In [66]:
df9.to_csv('Clean_dataset/monthly.csv',index=True)

In [143]:
#reading the monthly rainfall dataset
df10 = pd.read_csv('Dataset/rain/district wise rainfall normal.csv')
df10.head(10)

,STATE_UT_NAME,DISTRICT,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,ANDAMAN And NICOBAR ISLANDS,NICOBAR,107.3,57.9,65.2,117.0,358.5,295.5,285.0,271.9,354.8,326.0,315.2,250.9,2805.2,165.2,540.7,1207.2,892.1
1,ANDAMAN And NICOBAR ISLANDS,SOUTH ANDAMAN,43.7,26.0,18.6,90.5,374.4,457.2,421.3,423.1,455.6,301.2,275.8,128.3,3015.7,69.7,483.5,1757.2,705.3
2,ANDAMAN And NICOBAR ISLANDS,N & M ANDAMAN,32.7,15.9,8.6,53.4,343.6,503.3,465.4,460.9,454.8,276.1,198.6,100.0,2913.3,48.6,405.6,1884.4,574.7
3,ARUNACHAL PRADESH,LOHIT,42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,313.6,167.1,34.1,29.8,3043.8,123.0,841.3,1848.5,231.0
4,ARUNACHAL PRADESH,EAST SIANG,33.3,79.5,105.9,216.5,323.0,738.3,990.9,711.2,568.0,206.9,29.5,31.7,4034.7,112.8,645.4,3008.4,268.1
5,ARUNACHAL PRADESH,SUBANSIRI F.D,28.0,48.3,85.3,101.5,140.5,228.4,217.4,182.8,159.8,75.9,20.9,11.6,1300.4,76.3,327.3,788.4,108.4
6,ARUNACHAL PRADESH,TIRAP,42.2,72.7,141.0,316.9,328.7,614.7,851.9,500.6,418.3,218.7,42.9,22.9,3571.5,114.9,786.6,2385.5,284.5
7,ARUNACHAL PRADESH,ANJAW (LOHIT),42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,313.6,167.1,34.1,29.8,3043.8,123.0,841.3,1848.5,231.0
8,ARUNACHAL PRADESH,LOWER DIBANG,83.7,153.9,303.5,383.6,268.0,374.2,272.0,160.5,266.7,167.2,64.0,56.0,2553.3,237.6,955.1,1073.4,287.2
9,ARUNACHAL PRADESH,CHANGLANG,70.3,170.9,367.9,554.4,334.2,526.2,460.8,291.5,353.6,275.0,64.9,74.2,3543.9,241.2,1256.5,1632.1,414.1

In [145]:
df10['DISTRICT'].nunique()

637

In [146]:
#drop the jan feb mar apr may jun jul aug sep oct nov dec and annual columns
df10.drop(['Jan-Feb','Mar-May','Jun-Sep','Oct-Dec'],axis=1,inplace=True)

In [147]:
#divde annual by 12 to get the monthly rainfall
df10['ANNUAL'] = df10['ANNUAL']/12
#round the values to 2 decimal places
df10['ANNUAL'] = df10['ANNUAL'].round(2)
df10.head(10)

,STATE_UT_NAME,DISTRICT,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL
0,ANDAMAN And NICOBAR ISLANDS,NICOBAR,107.3,57.9,65.2,117.0,358.5,295.5,285.0,271.9,354.8,326.0,315.2,250.9,233.77
1,ANDAMAN And NICOBAR ISLANDS,SOUTH ANDAMAN,43.7,26.0,18.6,90.5,374.4,457.2,421.3,423.1,455.6,301.2,275.8,128.3,251.31
2,ANDAMAN And NICOBAR ISLANDS,N & M ANDAMAN,32.7,15.9,8.6,53.4,343.6,503.3,465.4,460.9,454.8,276.1,198.6,100.0,242.78
3,ARUNACHAL PRADESH,LOHIT,42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,313.6,167.1,34.1,29.8,253.65
4,ARUNACHAL PRADESH,EAST SIANG,33.3,79.5,105.9,216.5,323.0,738.3,990.9,711.2,568.0,206.9,29.5,31.7,336.22
5,ARUNACHAL PRADESH,SUBANSIRI F.D,28.0,48.3,85.3,101.5,140.5,228.4,217.4,182.8,159.8,75.9,20.9,11.6,108.37
6,ARUNACHAL PRADESH,TIRAP,42.2,72.7,141.0,316.9,328.7,614.7,851.9,500.6,418.3,218.7,42.9,22.9,297.62
7,ARUNACHAL PRADESH,ANJAW (LOHIT),42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,313.6,167.1,34.1,29.8,253.65
8,ARUNACHAL PRADESH,LOWER DIBANG,83.7,153.9,303.5,383.6,268.0,374.2,272.0,160.5,266.7,167.2,64.0,56.0,212.78
9,ARUNACHAL PRADESH,CHANGLANG,70.3,170.9,367.9,554.4,334.2,526.2,460.8,291.5,353.6,275.0,64.9,74.2,295.32

In [148]:
#new column Kharif by mean of jun to sep
df10['Kharif'] = df10[['JUN','JUL','AUG','SEP']].mean(axis=1)
#new column Rabi by mean of oct to dec
df10['Rabi'] = df10[['OCT','NOV','DEC']].mean(axis=1)
#new column Autumn by mean of sep to nov
df10['Autumn'] = df10[['SEP','OCT','NOV']].mean(axis=1)
#new column Summer by mean of mar to may
df10['Summer'] = df10[['MAR','APR','MAY']].mean(axis=1)
#new column Winter by mean of dec to feb
df10['Winter'] = df10[['DEC','JAN','FEB']].mean(axis=1)
df10.head(10)

,STATE_UT_NAME,DISTRICT,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Kharif,Rabi,Autumn,Summer,Winter
0,ANDAMAN And NICOBAR ISLANDS,NICOBAR,107.3,57.9,65.2,117.0,358.5,295.5,285.0,271.9,354.8,326.0,315.2,250.9,233.77,301.800,297.366667,332.000000,180.233333,138.700000
1,ANDAMAN And NICOBAR ISLANDS,SOUTH ANDAMAN,43.7,26.0,18.6,90.5,374.4,457.2,421.3,423.1,455.6,301.2,275.8,128.3,251.31,439.300,235.100000,344.200000,161.166667,66.000000
2,ANDAMAN And NICOBAR ISLANDS,N & M ANDAMAN,32.7,15.9,8.6,53.4,343.6,503.3,465.4,460.9,454.8,276.1,198.6,100.0,242.78,471.100,191.566667,309.833333,135.200000,49.533333
3,ARUNACHAL PRADESH,LOHIT,42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,313.6,167.1,34.1,29.8,253.65,462.125,77.000000,171.600000,280.433333,50.933333
4,ARUNACHAL PRADESH,EAST SIANG,33.3,79.5,105.9,216.5,323.0,738.3,990.9,711.2,568.0,206.9,29.5,31.7,336.22,752.100,89.366667,268.133333,215.133333,48.166667
5,ARUNACHAL PRADESH,SUBANSIRI F.D,28.0,48.3,85.3,101.5,140.5,228.4,217.4,182.8,159.8,75.9,20.9,11.6,108.37,197.100,36.133333,85.533333,109.100000,29.300000
6,ARUNACHAL PRADESH,TIRAP,42.2,72.7,141.0,316.9,328.7,614.7,851.9,500.6,418.3,218.7,42.9,22.9,297.62,596.375,94.833333,226.633333,262.200000,45.933333
7,ARUNACHAL PRADESH,ANJAW (LOHIT),42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,313.6,167.1,34.1,29.8,253.65,462.125,77.000000,171.600000,280.433333,50.933333
8,ARUNACHAL PRADESH,LOWER DIBANG,83.7,153.9,303.5,383.6,268.0,374.2,272.0,160.5,266.7,167.2,64.0,56.0,212.78,268.350,95.733333,165.966667,318.366667,97.866667
9,ARUNACHAL PRADESH,CHANGLANG,70.3,170.9,367.9,554.4,334.2,526.2,460.8,291.5,353.6,275.0,64.9,74.2,295.32,408.025,138.033333,231.166667,418.833333,105.133333

In [149]:
#drop the jan feb mar apr may jun jul aug sep oct nov dec columns
df10.drop(['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC'],axis=1,inplace=True)

In [150]:
#state and district lower case
df10['STATE_UT_NAME'] = df10['STATE_UT_NAME'].str.lower()
df10['DISTRICT'] = df10['DISTRICT'].str.lower()

In [151]:
#rename the columns
df10.rename(columns={'STATE_UT_NAME':'state','DISTRICT':'district'},inplace=True)

In [152]:
#cleaning the data
df10['district'] = df10['district'].str.replace(' ','_')
df10['state'] = df10['state'].str.replace(' ','_')
df10.head(10)

,state,district,ANNUAL,Kharif,Rabi,Autumn,Summer,Winter
0,andaman_and_nicobar_islands,nicobar,233.77,301.800,297.366667,332.000000,180.233333,138.700000
1,andaman_and_nicobar_islands,south_andaman,251.31,439.300,235.100000,344.200000,161.166667,66.000000
2,andaman_and_nicobar_islands,n_&_m_andaman,242.78,471.100,191.566667,309.833333,135.200000,49.533333
3,arunachal_pradesh,lohit,253.65,462.125,77.000000,171.600000,280.433333,50.933333
4,arunachal_pradesh,east_siang,336.22,752.100,89.366667,268.133333,215.133333,48.166667
5,arunachal_pradesh,subansiri_f.d,108.37,197.100,36.133333,85.533333,109.100000,29.300000
6,arunachal_pradesh,tirap,297.62,596.375,94.833333,226.633333,262.200000,45.933333
7,arunachal_pradesh,anjaw_(lohit),253.65,462.125,77.000000,171.600000,280.433333,50.933333
8,arunachal_pradesh,lower_dibang,212.78,268.350,95.733333,165.966667,318.366667,97.866667
9,arunachal_pradesh,changlang,295.32,408.025,138.033333,231.166667,418.833333,105.133333

In [153]:
#round the values to 2 decimal places
df10 = df10.round(2)
df10.head(10)

,state,district,ANNUAL,Kharif,Rabi,Autumn,Summer,Winter
0,andaman_and_nicobar_islands,nicobar,233.77,301.80,297.37,332.00,180.23,138.70
1,andaman_and_nicobar_islands,south_andaman,251.31,439.30,235.10,344.20,161.17,66.00
2,andaman_and_nicobar_islands,n_&_m_andaman,242.78,471.10,191.57,309.83,135.20,49.53
3,arunachal_pradesh,lohit,253.65,462.12,77.00,171.60,280.43,50.93
4,arunachal_pradesh,east_siang,336.22,752.10,89.37,268.13,215.13,48.17
5,arunachal_pradesh,subansiri_f.d,108.37,197.10,36.13,85.53,109.10,29.30
6,arunachal_pradesh,tirap,297.62,596.38,94.83,226.63,262.20,45.93
7,arunachal_pradesh,anjaw_(lohit),253.65,462.12,77.00,171.60,280.43,50.93
8,arunachal_pradesh,lower_dibang,212.78,268.35,95.73,165.97,318.37,97.87
9,arunachal_pradesh,changlang,295.32,408.02,138.03,231.17,418.83,105.13

In [118]:
#district list from 3.csv file to delete the districts which are not in the 3.csv file
df11 = pd.read_csv('Clean_dataset/3.csv')
#lower case the district name
df11['district'] = df11['district'].str.lower()
list3 = df11['district'].unique()
df10 = df10[df10['district'].isin(list3)]

In [159]:
df031 = pd.read_csv('Clean_dataset/3.csv')
df031['district'].nunique()

93

In [119]:
df10.head(10)

,state,district,ANNUAL,Kharif,Rabi,Autumn,Summer,Winter
1,andaman_and_nicobar_islands,south_andaman,251.31,439.30,235.10,344.20,161.17,66.00
19,assam,cachar,249.93,472.48,76.20,192.67,272.40,24.97
23,assam,lakhimpur,238.28,506.30,61.23,195.80,191.37,32.23
28,assam,dhubri,225.22,479.12,59.47,171.47,195.23,8.70
30,assam,jorhat,173.58,324.78,54.30,140.00,187.37,24.83
53,manipur,imphal_east,153.27,291.05,62.77,123.07,146.30,18.67
56,manipur,chandel,220.62,501.78,103.60,223.07,97.73,14.67
58,manipur,thoubal,107.19,208.40,43.93,76.43,93.13,16.93
59,manipur,bishnupur,177.29,333.58,102.97,171.10,126.60,39.83
60,manipur,imphal_west,127.58,242.95,66.10,113.10,102.50,24.27

In [154]:
df10['district'].nunique()

637

In [160]:
#rename the columns
df10.rename(columns={'ANNUAL':'Annual'},inplace=True)

In [161]:
df10.to_csv('Clean_dataset/rainfall.csv',index=False)

In [162]:
#reading the monthly temperature dataset
df12 = pd.read_csv('Clean_dataset/monthly.csv')
df12.head(10)

,city,Kharif_min,Rabi_min,Autumn_min,Summer_min,Winter_min,Kharif_max,Rabi_max,Autumn_max,Summer_max,Winter_max,Annual_min,Annual_max
0,agra,31.00,21.33,26.67,24.33,13.00,39.25,33.33,36.67,41.33,25.67,23.67,35.75
1,ahmednagar,26.25,20.33,23.33,23.00,16.00,35.75,35.00,35.33,42.67,32.67,22.17,36.75
2,alappuzha,25.50,25.00,25.00,26.00,24.33,27.75,29.67,28.67,31.33,31.67,25.25,29.83
3,aligarh,29.50,20.00,25.00,23.00,12.00,39.50,33.00,36.67,41.00,24.67,22.33,35.50
4,ambala,27.25,18.00,22.33,21.00,10.67,38.50,31.67,35.67,39.67,23.67,20.42,34.42
5,baghpat,28.00,19.33,24.00,21.67,11.00,39.75,33.67,36.67,40.67,25.00,21.17,35.67
6,bahraich,27.50,19.33,22.67,22.00,13.00,37.75,32.00,32.67,40.33,25.67,21.50,34.75
7,ballia,29.00,20.33,24.33,22.67,13.00,37.25,32.67,33.67,40.33,26.00,22.42,34.67
8,bangalore,21.25,17.67,19.67,21.33,17.67,29.25,23.67,24.67,37.00,28.33,19.92,29.75
9,bankura,27.50,21.00,24.33,24.00,16.00,36.50,32.67,33.67,41.00,29.33,23.00,35.25

In [ ]:
#new column Kharif by mean of jun to sep
df12['Kharif_min'] = df12[['min_temp_6','min_temp_7','min_temp_8','min_temp_9']].mean(axis=1)
#new column Rabi by mean of oct to dec
df12['Rabi_min'] = df12[['min_temp_10','min_temp_11','min_temp_12']].mean(axis=1)
#new column Autumn by mean of sep to nov
df12['Autumn_min'] = df12[['min_temp_9','min_temp_10','min_temp_11']].mean(axis=1)
#new column Summer by mean of mar to may
df12['Summer_min'] = df12[['min_temp_3','min_temp_4','min_temp_5']].mean(axis=1)
#new column Winter by mean of dec to feb
df12['Winter_min'] = df12[['min_temp_12','min_temp_1','min_temp_2']].mean(axis=1)

#new column Kharif by mean of jun to sep
df12['Kharif_max'] = df12[['max_temp_6','max_temp_7','max_temp_8','max_temp_9']].mean(axis=1)
#new column Rabi by mean of oct to dec
df12['Rabi_max'] = df12[['max_temp_10','max_temp_11','max_temp_12']].mean(axis=1)
#new column Autumn by mean of sep to nov
df12['Autumn_max'] = df12[['max_temp_9','max_temp_10','max_temp_11']].mean(axis=1)
#new column Summer by mean of mar to may
df12['Summer_max'] = df12[['max_temp_3','max_temp_4','max_temp_5']].mean(axis=1)
#new column Winter by mean of dec to feb
df12['Winter_max'] = df12[['max_temp_12','max_temp_1','max_temp_2']].mean(axis=1)
#new column Annual min by mean of all the months
df12['Annual_min'] = df12[['min_temp_1','min_temp_2','min_temp_3','min_temp_4','min_temp_5','min_temp_6','min_temp_7','min_temp_8','min_temp_9','min_temp_10','min_temp_11','min_temp_12']].mean(axis=1)
#new column Annual max by mean of all the months
df12['Annual_max'] = df12[['max_temp_1','max_temp_2','max_temp_3','max_temp_4','max_temp_5','max_temp_6','max_temp_7','max_temp_8','max_temp_9','max_temp_10','max_temp_11','max_temp_12']].mean(axis=1)
#round the values to 2 decimal places
df12 = df12.round(2)
df12.head(10)

In [ ]:
#drop the min_temp_1 to min_temp_12 and max_temp_1 to max_temp_12 columns
df12.drop(['min_temp_1','min_temp_2','min_temp_3','min_temp_4','min_temp_5','min_temp_6','min_temp_7','min_temp_8','min_temp_9','min_temp_10','min_temp_11','min_temp_12','max_temp_1','max_temp_2','max_temp_3','max_temp_4','max_temp_5','max_temp_6','max_temp_7','max_temp_8','max_temp_9','max_temp_10','max_temp_11','max_temp_12'],axis=1,inplace=True)
df12.head(10)

,city,Kharif_min,Rabi_min,Autumn_min,Summer_min,Winter_min,Kharif_max,Rabi_max,Autumn_max,Summer_max,Winter_max,Annual_min,Annual_max
0,agra,31.00,21.33,26.67,24.33,13.00,39.25,33.33,36.67,41.33,25.67,23.67,35.75
1,ahmednagar,26.25,20.33,23.33,23.00,16.00,35.75,35.00,35.33,42.67,32.67,22.17,36.75
2,alappuzha,25.50,25.00,25.00,26.00,24.33,27.75,29.67,28.67,31.33,31.67,25.25,29.83
3,aligarh,29.50,20.00,25.00,23.00,12.00,39.50,33.00,36.67,41.00,24.67,22.33,35.50
4,ambala,27.25,18.00,22.33,21.00,10.67,38.50,31.67,35.67,39.67,23.67,20.42,34.42
5,baghpat,28.00,19.33,24.00,21.67,11.00,39.75,33.67,36.67,40.67,25.00,21.17,35.67
6,bahraich,27.50,19.33,22.67,22.00,13.00,37.75,32.00,32.67,40.33,25.67,21.50,34.75
7,ballia,29.00,20.33,24.33,22.67,13.00,37.25,32.67,33.67,40.33,26.00,22.42,34.67
8,bangalore,21.25,17.67,19.67,21.33,17.67,29.25,23.67,24.67,37.00,28.33,19.92,29.75
9,bankura,27.50,21.00,24.33,24.00,16.00,36.50,32.67,33.67,41.00,29.33,23.00,35.25

In [ ]:
df12.to_csv('Clean_dataset/monthly.csv',index=False)

In [172]:
#match the city name in monthly.csv file and rainfall.csv file and merge them into one file
df13 = pd.read_csv('Clean_dataset/monthly.csv')
df14 = pd.read_csv('Clean_dataset/rainfall.csv')
df15 = pd.merge(df13,df14,on=['city'],how='inner')
df15.head(10)

,city,Kharif_min,Rabi_min,Autumn_min,Summer_min,Winter_min,Kharif_max,Rabi_max,Autumn_max,Summer_max,Winter_max,Annual_min,Annual_max,state,Annual,Kharif,Rabi,Autumn,Summer,Winter
0,agra,31.00,21.33,26.67,24.33,13.00,39.25,33.33,36.67,41.33,25.67,23.67,35.75,uttar_pradesh,64.55,171.80,12.60,52.83,7.40,10.70
1,ahmednagar,26.25,20.33,23.33,23.00,16.00,35.75,35.00,35.33,42.67,32.67,22.17,36.75,maharashtra,47.77,109.40,34.60,78.47,9.97,3.13
2,alappuzha,25.50,25.00,25.00,26.00,24.33,27.75,29.67,28.67,31.33,31.67,25.25,29.83,kerala,236.77,436.48,190.70,265.77,159.27,32.33
3,aligarh,29.50,20.00,25.00,23.00,12.00,39.50,33.00,36.67,41.00,24.67,22.33,35.50,uttar_pradesh,64.25,163.92,16.60,58.83,11.13,12.90
4,ambala,27.25,18.00,22.33,21.00,10.67,38.50,31.67,35.67,39.67,23.67,20.42,34.42,haryana,92.06,229.15,21.37,73.60,17.83,30.47
5,bahraich,27.50,19.33,22.67,22.00,13.00,37.75,32.00,32.67,40.33,25.67,21.50,34.75,uttar_pradesh,95.72,248.45,21.20,86.37,18.13,15.57
6,ballia,29.00,20.33,24.33,22.67,13.00,37.25,32.67,33.67,40.33,26.00,22.42,34.67,uttar_pradesh,77.35,206.80,16.53,70.20,10.73,7.27
7,bankura,27.50,21.00,24.33,24.00,16.00,36.50,32.67,33.67,41.00,29.33,23.00,35.25,west_bengal,110.91,262.80,41.50,119.10,41.73,13.17
8,bishnupur,28.00,22.33,25.00,24.33,17.67,36.00,32.33,33.00,37.67,30.33,23.83,34.33,manipur,177.29,333.58,102.97,171.10,126.60,39.83
9,bulandshahar,28.75,19.33,23.33,22.67,13.33,38.75,33.33,34.67,42.67,27.00,22.17,36.17,uttar_pradesh,64.92,167.68,15.97,59.60,10.33,12.30

In [170]:
df13.to_csv('Clean_dataset/monthly_filtered.csv',index=False)
df14.to_csv('Clean_dataset/rainfall_filtered.csv',index=False)

In [173]:
df15.to_csv('Clean_dataset/monthly_rainfall.csv',index=False)

In [175]:
df16=pd.read_csv('Clean_dataset/3.csv')
list=df16['crop'].unique()
print(list)

['coconut' 'rice' 'jute' 'maize' 'cotton' 'banana' 'grapes' 'apple'
 'orange' 'pomegranate' 'papaya' 'mango']

In [ ]:
#decision tree classifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
df17 = pd.read_csv('Clean_dataset/monthly_rainfall.csv')
def decision_tree_classifier(df17):
    #splitting the data into training and testing data
    X = df17.drop(['crop'],axis=1)
    y = df17['crop']
    X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)
    #creating the model
    model = DecisionTreeClassifier()
    model.fit(X_train,y_train)
    y_pred = model.predict(X_test)
    #accuracy score
    accuracy = accuracy_score(y_test,y_pred)
    return accuracy
print(decision_tree_classifier(df17))