In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [24]:
#load the bangalore temperature data
df = pd.read_csv('Dataset/weather/Temperature_And_Precipitation_Cities_IN/Bangalore_1990_2022_BangaloreCity.csv')
df.head()

         time  tavg  tmin  tmax  prcp
0  01-01-1990  22.9  19.1  28.4   NaN
1  02-01-1990  21.7   NaN  26.5   0.0
2  03-01-1990  21.0  16.4  26.5   0.0
3  04-01-1990  20.8   NaN  27.4   0.0
4  05-01-1990  20.4  14.2  26.1   0.0

In [25]:
#drop the prcp and tmin and tmax columns
df.drop(['prcp','tmin','tmax'],axis=1,inplace=True)

In [26]:
df.head()

         time  tavg
0  01-01-1990  22.9
1  02-01-1990  21.7
2  03-01-1990  21.0
3  04-01-1990  20.8
4  05-01-1990  20.4

In [27]:
#merge the time rows based on the month and year
df['time'] = pd.to_datetime(df['time'])
df = df.groupby([df['time'].dt.month]).mean()

C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\3337828173.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['time'] = pd.to_datetime(df['time'])
C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\3337828173.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby([df['time'].dt.month]).mean()

In [28]:
df.head(50)

           tavg
time
1     22.582365
2     24.145081
3     25.701586
4     25.976704
5     25.215538
6     23.887538
7     23.418317
8     23.430272
9     23.691088
10    23.335830
11    22.674298
12    22.016097

In [30]:
#change the index to month
df.index = df.index.map({1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'})

In [33]:
#create a new column for the time 
df['time'] = df.index

In [35]:
#drop the index
df.reset_index(drop=True,inplace=True)

In [36]:
df.head(15)

         tavg time
0   22.582365  Jan
1   24.145081  Feb
2   25.701586  Mar
3   25.976704  Apr
4   25.215538  May
5   23.887538  Jun
6   23.418317  Jul
7   23.430272  Aug
8   23.691088  Sep
9   23.335830  Oct
10  22.674298  Nov
11  22.016097  Dec

In [37]:
#change the column names from tavg to ban_temp and time to ban_time
df.rename(columns={'tavg':'ban_temp','time':'ban_time'},inplace=True)

In [38]:
#save the data to a csv file
df.to_csv('Dataset/weather/Temperature_And_Precipitation_Cities_IN/BangaloreWeather.csv',index=False)

In [39]:
df = pd.read_csv('Dataset/weather/Temperature_And_Precipitation_Cities_IN/Chennai_1990_2022_Madras.csv')
df.drop(['prcp','tmin','tmax'],axis=1,inplace=True)
df['time'] = pd.to_datetime(df['time'])
df = df.groupby([df['time'].dt.month]).mean()
df.index = df.index.map({1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'})
df['time'] = df.index
df.reset_index(drop=True,inplace=True)
df.rename(columns={'tavg':'che_temp','time':'che_time'},inplace=True)
df.head(15)

C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\1152700342.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['time'] = pd.to_datetime(df['time'])
C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\1152700342.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby([df['time'].dt.month]).mean()

     che_temp che_time
0   26.382989      Jan
1   27.417711      Feb
2   28.620788      Mar
3   29.758782      Apr
4   30.616139      May
5   30.099084      Jun
6   29.472673      Jul
7   29.115964      Aug
8   28.905383      Sep
9   27.876784      Oct
10  27.125543      Nov
11  26.429789      Dec

In [40]:
df.to_csv('Clean_Dataset/weather/ChennaiWeather.csv',index=False)

In [42]:
df = pd.read_csv('Dataset/weather/Temperature_And_Precipitation_Cities_IN/Delhi_NCR_1990_2022_Safdarjung.csv')
df.drop(['prcp','tmin','tmax'],axis=1,inplace=True)
df['time'] = pd.to_datetime(df['time'])
df = df.groupby([df['time'].dt.month]).mean()
df.index = df.index.map({1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'})
df['time'] = df.index
df.reset_index(drop=True,inplace=True)
df.rename(columns={'tavg':'del_temp','time':'del_time'},inplace=True)
df.head(15)
df.to_csv('Clean_Dataset/weather/DelhiWeather.csv',index=False)

C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\1820894081.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['time'] = pd.to_datetime(df['time'])
C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\1820894081.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby([df['time'].dt.month]).mean()

In [43]:
df = pd.read_csv('Dataset/weather/Temperature_And_Precipitation_Cities_IN/Lucknow_1990_2022.csv')
df.drop(['prcp','tmin','tmax'],axis=1,inplace=True)
df['time'] = pd.to_datetime(df['time'])
df = df.groupby([df['time'].dt.month]).mean()
df.index = df.index.map({1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'})
df['time'] = df.index
df.reset_index(drop=True,inplace=True)
df.rename(columns={'tavg':'luck_temp','time':'luck_time'},inplace=True)
df.head(15)
df.to_csv('Clean_Dataset/weather/LucknowWeather.csv',index=False)

C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\1387676732.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['time'] = pd.to_datetime(df['time'])
C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\1387676732.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby([df['time'].dt.month]).mean()

In [45]:
df = pd.read_csv('Dataset/weather/Temperature_And_Precipitation_Cities_IN/Mumbai_1990_2022_Santacruz.csv')
df.drop(['prcp','tmin','tmax'],axis=1,inplace=True)
df['time'] = pd.to_datetime(df['time'])
df = df.groupby([df['time'].dt.month]).mean()
df.index = df.index.map({1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'})
df['time'] = df.index
df.reset_index(drop=True,inplace=True)
df.rename(columns={'tavg':'mum_temp','time':'mum_time'},inplace=True)
df.head(15)
df.to_csv('Clean_Dataset/weather/MumbaiWeather.csv',index=False)

C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\1748231099.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['time'] = pd.to_datetime(df['time'])
C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\1748231099.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby([df['time'].dt.month]).mean()

In [46]:
df = pd.read_csv('Dataset/weather/Temperature_And_Precipitation_Cities_IN/Rajasthan_1990_2022_Jodhpur.csv')
df.drop(['prcp','tmin','tmax'],axis=1,inplace=True)
df['time'] = pd.to_datetime(df['time'])
df = df.groupby([df['time'].dt.month]).mean()
df.index = df.index.map({1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'})
df['time'] = df.index
df.reset_index(drop=True,inplace=True)
df.rename(columns={'tavg':'jod_temp','time':'jod_time'},inplace=True)
df.head(15)
df.to_csv('Clean_Dataset/weather/JodhpurWeather.csv',index=False)

C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\2673860630.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['time'] = pd.to_datetime(df['time'])
C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\2673860630.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby([df['time'].dt.month]).mean()

In [47]:
df = pd.read_csv('Dataset/weather/Temperature_And_Precipitation_Cities_IN/weather_Bhubhneshwar_1990_2022.csv')
df.drop(['prcp','tmin','tmax','snow','wdir','wspd','wpgt','pres','tsun'],axis=1,inplace=True)
df['time'] = pd.to_datetime(df['time'])
df = df.groupby([df['time'].dt.month]).mean()
df.index = df.index.map({1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'})
df['time'] = df.index
df.reset_index(drop=True,inplace=True)
df.rename(columns={'tavg':'bhu_temp','time':'bhu_time'},inplace=True)
df.head(15)
df.to_csv('Clean_Dataset/weather/BhubaneswarWeather.csv',index=False)

C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\2030741930.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby([df['time'].dt.month]).mean()

In [49]:
df = pd.read_csv('Dataset/weather/Temperature_And_Precipitation_Cities_IN/weather_Rourkela_2021_2022.csv')
df.drop(['prcp','tmin','tmax','snow','wdir','wspd','wpgt','pres','tsun'],axis=1,inplace=True)
df['time'] = pd.to_datetime(df['time'])
df = df.groupby([df['time'].dt.month]).mean()
df.index = df.index.map({1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'})
df['time'] = df.index
df.reset_index(drop=True,inplace=True)
df.rename(columns={'tavg':'rour_temp','time':'rour_time'},inplace=True)
df.head(15)
df.to_csv('Clean_Dataset/weather/RourkelaWeather.csv',index=False)

C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\1945162887.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby([df['time'].dt.month]).mean()

In [69]:
df = pd.read_csv('Dataset/agri/agri.csv')

In [70]:
df.drop(['market','arrival_date','min_price','max_price','variety'],axis=1,inplace=True)
df.head()

                 state       district              commodity  modal_price
0  Andaman and Nicobar  South Andaman             Amaranthus         7000
1  Andaman and Nicobar  South Andaman         Banana - Green         5000
2  Andaman and Nicobar  South Andaman  Bhindi(Ladies Finger)         7000
3  Andaman and Nicobar  South Andaman           Bitter gourd         7000
4  Andaman and Nicobar  South Andaman           Black pepper       120000

In [71]:
df.rename(columns={'commodity':'crop'},inplace=True)

In [72]:
#cleaning the data
df['crop'] = df['crop'].str.lower()
df['crop'] = df['crop'].str.replace(' ','_')
df['crop'] = df['crop'].str.replace('(','')
df['crop'] = df['crop'].str.replace(')','')
df['crop'] = df['crop'].str.replace('/','_')
df['crop'] = df['crop'].str.replace('-','_')
df['crop'] = df['crop'].str.replace('__','_')

C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\2761295286.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['crop'] = df['crop'].str.replace('(','')
C:\Users\Piyush\AppData\Local\Temp\ipykernel_26920\2761295286.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['crop'] = df['crop'].str.replace(')','')

In [73]:
df['crop'] = df['crop'].str.replace('__','_')

In [74]:
#removing the rows with null values
df = df.dropna()
#replace the state and district name spaces with underscore
df['state'] = df['state'].str.replace(' ','_')
df['district'] = df['district'].str.replace(' ','_')

In [75]:
#saving the data
df.to_csv('Clean_dataset/agri/agri.csv',index=False)

In [76]:
#crop recommendation dataset
df = pd.read_csv('Dataset/crop/Crop_recommendation.csv')

In [77]:
df.head(5)

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [78]:
#decimals to 2 places
df['temperature'] = df['temperature'].round(2)
df['humidity'] = df['humidity'].round(2)
df['ph'] = df['ph'].round(2)
df['rainfall'] = df['rainfall'].round(2)

In [80]:
#saving the data
df.to_csv('Clean_dataset/crop/Crop_recommendation.csv',index=False)